/* .sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 80px;
    background: white;
  }
  
  .sidenav-content {
    padding: 0;
    margin-left: 80px; 
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .mwl-calendar-week-view {
    display: inline-block;
  }
   */