/* .sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 80px;
    background: white;
  }
  
  .sidenav-content {
    padding: 0;
    margin-left: 80px; 
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .mwl-calendar-week-view {
    display: inline-block;
  }
   */

   .custom-hour-segment {
    display: flex;
    flex-direction: row;
  }
  
  .bed-container {
    display: flex;
    width: 100%;
  }
  
  .bed {
    width: 50%;
    border-right: 1px solid #ccc;
    cursor: pointer;
  }
  
  .bed:last-child {
    border-right: none;
  }
  
  .event-card {
    margin: 2px;
  }
  